{% extends 'boards/base.html' %}

{% block body %}
<p>id : {{board.pk }}</p>
<p>title : {{ board.title }}</p>
<p>content : {{ board.content }}</p>
<p>created_at : {{ board.created_at }}</p>
<p>updated_at : {{ board.updated_at }}</p>
<a href="{% url 'boards:index' %}">home</a>
<hr>
<p>댓글 작성</p>
<form action="{% url 'boards:comment_create' board.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit">
</form>
{% for comment in comments %}
<li>{{ comment.content }} </li>
<form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method="POST" style="display: inline" onsubmit="return confirm('삭제할거야?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
{% endfor %}
{% endblock %}